* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000206 url("/Sim Registartion Project/Images/bg.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-size: 16px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* ========================= NAVIGATION BAR ========================= */

/* Desktop Design */
nav {
    /* LAYOUT */
    display: flex;
    justify-content: center;

    /* STRUCTURE */
    position: sticky;
    top: 0;
    left: 0;
    
    background: #000000;
    border-bottom: 1px solid #98C1D9;
    color: white;
    width: 100%;
    height: 13vh;  
    z-index: 100;
}


nav .site-logo {
    /* LAYOUT */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* STRUCTURE */
    width: 20%;

}

.site-logo .logo {
    border: 3px solid #00ABE4;
    border-radius: 0px 0px 1rem 0px;
    height: 50%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    color: #E9F1FA;
    
    
}

nav .link-div {
    width: 50%;
 
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
}

.link-div ul {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
}

.link-div ul li {
    list-style: none;
    cursor: pointer;
    
}

.active-li {
    list-style: none;
    color: rgba(9, 156, 242, 1);

}

#faqs {
    display: none;
}

/* ======================= MAIN ======================= */

h1 {
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;

    color: #98C1D9;
    margin: 7% 10%
}

main {
    background-color: white;
    width: 70%;
    border-radius: 2rem;
    margin-bottom: 10%;

}

form {
    margin: 15%;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
}

label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;


    letter-spacing: 0.2px;
    text-transform: capitalize;

    color: #000000;
}

input {
    border: none;
    border-bottom: 1.2px solid #5B5A5A;
    margin-top: 2%;
    padding: 1% 0%;
    text-align: center;

}

.number {
    background-image: url("/Sim Registartion Project/Images/mailmailicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 10%;

}

.password {
    background-image: url("/Sim Registartion Project/Images/Vector.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 5%; /* Adjust the padding as needed */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 2%;

}

.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    margin: 2%;
}


.forgot {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1%;
}

.forgot:hover {
    cursor: pointer;
    color: #00ABE4;
}


.checkdiv {
    align-self: flex-end;
    margin: 0px auto 0px 0px;
}

.dontaccount {
    margin: 4% 0%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin: 1%;
    margin-bottom: 10%;
}

.dontaccount b {
    color: blue;
}


.login {
    background: linear-gradient(87.43deg, #00ABE4 62.71%, #96C2DB 100%);
    border: none;
    border-radius: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;

    align-self: center;
    width: 60%;
    padding: 3%;
}


.forgotdiv {
    position: fixed;
    width: 50%;
    height: 20vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 2%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.forgotdiv span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1% 1%;

}

.forgotdiv button {
    background: linear-gradient(87.43deg, #00ABE4 62.71%, #96C2DB 100%);
    border: none;
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin-top: 2%;

    width: 20%;
    padding: 1%;
}

.login:hover {
    cursor: pointer;
    background: #006395;

}

.dontaccount:hover {
    cursor: pointer;
}
/* ======================= FOOTER SECTION ======================= */

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

footer ul {
    list-style: none;
}

.footer1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3% ;
    border-bottom: 1px solid #0076B2;
    
    
}

footer .footer-logo {
    /* LAYOUT */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    /* STRUCTURE */
    width: 30%;
    padding-left: 5%;

}

.footer-logo .footlogo {
    border: 3px solid #00ABE4;
    border-radius: 0px 0px 15px 0px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0% ;
   
  

    font-family: 'Poppins', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    color: #E9F1FA;
    
}

.footer1 span {
    font-family: 'Poppins', sans-serif;;
  
    font-weight: 600;
    font-size: 1.3rem;
    width: 40%;
    text-align: center;
}

.footer1 ul {
    width: 30%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5%;
}

.footer1 li {
    height: 100%;   
    
}

.footer1 li img {
   width: auto;
   height: 100%;
}


.footer2 {
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.footer2 ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    font-family: 'Poppins', sans-serif;;

    font-weight: 500;
    font-size: 1.5rem;
    

    color: #E9F1FA;
}

.footer2 li {
    cursor: pointer;
}

@media (max-width: 1024px) {
    * {
        font-size: 11px;
    }
    
}