* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    width: 80%;

}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

section {
    width: 80%;
    margin: 5%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}
section div {
    width: 70%;
    padding: 5% 0%;
}

section div h2 {
    padding-bottom: 5%;
    font-size: 1.6rem;

}

section div span {
    font-size: 1.1rem;

}
section .forInput {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1.5%;
    padding: 5%;
    width: 70%;
}

.forInput input, .forInput select {
    border: 0px none;
    border-bottom: 1px solid black;
    margin-top: 1%;
    margin-bottom: 5%;
}

div input, div select {
    width: 80%;
    padding: 1% .5%;
    font-size: 1rem;
}

.forInput h4 {
    margin: 5% 0%;
    font-size: 1.1rem;
}

label {
    font-size: .9rem;
}

button {
    width: 25%;
    align-self: center;
}

@media (max-width: 1024px) {
    * {
        font-size: 11px;
    }
    
}