* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    user-select: none;

    font-size: 16px;
}

/* ========================= NAVIGATION BAR ========================= */

/* Desktop Design */
nav {
    /* LAYOUT */
    display: flex;
    justify-content: center;

    /* STRUCTURE */
    position: fixed;
    top: 0;
    left: 0;
    
    background: #000000;
    border-bottom: 1px solid #98C1D9;
    color: white;
    width: 100%;
    height: 13vh;  
    z-index: 110;
}


nav .site-logo {
    /* LAYOUT */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* STRUCTURE */
    width: 20%;

}

.site-logo .logo {
    border: 3px solid #00ABE4;
    border-radius: 0px 0px 1rem 0px;
    height: 50%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    color: #E9F1FA;
    
    
}

nav .link-div {
    width: 50%;
 
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
}

.link-div ul {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
}

.link-div ul li {
    list-style: none;
    cursor: pointer;
    
}

.active-li {
    list-style: none;
    color: rgba(9, 156, 242, 1);

}

#faqs {
    display: none;
}

/* ========================= FORM MAIN========================= */

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;

    color: #98C1D9;
    margin: 7% 0% 4% 10%
}

.form-container {
    width: 85%;
    margin: 0 7.5%;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

form div {
    display: grid;
    grid-template-rows: 60% 40%;
}

section {
    width: 100%;
}

section div {
    width: 70%;
    padding: 5% 10% 5% 0%;
    margin: 0% auto;
}

section div h2 {
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.6rem;
}

section div span {
    font-size: 1rem;

}
section .forInput {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 5%;
    width: 70%;
    margin: 0% auto;
}

.forInput input, .forInput select {
    border: 0px none;
    border-bottom: 1px solid black;;
    margin: 1% auto 5% auto;
    padding: 2% 2%;
}

div input, div select {
    width: 90%;
    font-size: 1rem;
    background-color: inherit;
}

.forInput h4 {
    margin: 5% 5%;
    font-size: 1.1rem;
}

label {
    font-size: .9rem;
    margin-left: 5%;
}

.buttons {
    width: 200%;
    display: flex;
    justify-content: center;
    padding: 15% 0%;
    
}

.buttons button {
    margin: 0% 2%;
    width: 15%;
    padding: 1% 2%;
    border-radius: .5rem;
    border: none;
    background-color: #00ABE4;

    font-weight: 600;
    font-size: 1.4rem;

    color: #E9F1FA;
}

.cancel:hover {
    background-color: rgb(202, 6, 6);
}

.submit:hover {
    background: #006395;
}

.number {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 110;
    background-color: white;
    width: 72%;
    height: 95vh;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-right: 0px;
    width: 60%;
}

.mobilenum h2, .otp h2{
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;


}



.mobilenum .inputs, .otp .inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;


}

.inputs input, .inputs input{
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 2% 2%;
    border-radius: .5rem;
    letter-spacing: .03rem;
    text-align: center;
    border: .5px solid black;
    margin-right: 5%;
}

.checkbox-label {
    width: 60%;
    display: flex;
    align-items: center;
  }

.text b{
    color: rgb(47, 188, 235);

}

.checkbox-label .checkbox {
    height: 100%;
    width: 20%;
}

.checkbox input {
    width: 100%;
}

div .sendotp , div .verify{
    width: 25%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    padding: 2% 2%;
    border-radius: .5rem;
    text-align: center;
    color: white;
    border: none;
    background-color: #00ABE4;
}

.number .success {
    width: 70%;
    z-index: 104;
    border-radius: 2rem;
    background-color: #E9F1FA;
    position: absolute;
    display: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 2% 0%;
    
}

.success img {
    width: 25%;
    margin: 1% auto 3% auto;
}

.success span {
    font-weight: 500;
    font-size: 1.1rem;
    width: 40%;
    text-align: center;
    margin-top: 1%;
}

.success .yey {
    font-weight: 600;
    font-size: 1.3rem;
    width: 40%;
    text-align: center;
    margin-top: 1%;
}

.success button{
    width: 10%;
    font-weight: 600;
    font-size: 1rem;
    padding: 2% 3%;
    border-radius: .5rem;
    text-align: center;
    color: white;
    border: none;
    background-color: #00ABE4;
    margin-top: 3%;

}

.success button:hover {
    cursor: pointer;
    background: #006395;

}

.text b:hover{
    cursor: pointer;
}


/* ======================= FOOTER SECTION ======================= */

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

footer ul {
    list-style: none;
}

.footer1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3% ;
    border-bottom: 1px solid #0076B2;
    
    
}

footer .footer-logo {
    /* LAYOUT */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    /* STRUCTURE */
    width: 30%;
    padding-left: 5%;

}

.footer-logo .footlogo {
    border: 3px solid #00ABE4;
    border-radius: 0px 0px 15px 0px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0% ;
   
  

    font-family: 'Poppins', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    color: #E9F1FA;
    
}

.footer1 span {
    font-family: 'Poppins', sans-serif;;
  
    font-weight: 600;
    font-size: 1.3rem;
    width: 40%;
    text-align: center;
}

.footer1 ul {
    width: 30%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5%;
}

.footer1 li {
    height: 100%;   
    
}

.footer1 li img {
   width: auto;
   height: 100%;
}


.footer2 {
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.footer2 ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    font-family: 'Poppins', sans-serif;;

    font-weight: 500;
    font-size: 1.5rem;
    

    color: #E9F1FA;
}

.footer2 li {
    cursor: pointer;
}

@media (max-width: 1024px) {
    * {
        font-size: 11px;
    }
    
}