* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

body {
    min-height: 11838px;
    background-color: black;
    width: 100%;

}

/* ========================= NAVIGATION BAR ========================= */

/* Desktop Design */
nav {
    /* LAYOUT */
    display: flex;
    justify-content: center;

    /* STRUCTURE */
    background-color: black;
    color: white;
    width: 100%;
    height: 80px;  
}

nav .site-logo {
    /* LAYOUT */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* STRUCTURE */
    width: 20%;
 

}

.site-logo span {
    border: 3px solid #00ABE4;
    border-radius: 0px 0px 15px 0px;
    height: 50%;
    width: 85%;


    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
}

nav .link-div {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.2px;

    
}

.link-div ul {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-around;
  
    
}

.link-div ul li {
    list-style: none;
}

/* ========================= CAROUSEL ========================= */

.container-carousel {
    /* Structure */
    height: 475px;
    width: 95%;
    border-radius: 0px 0px 200px 0px;

    /* Layout */
    display: grid;
    grid-template-columns: 50% 50%;

    font-family: 'Inter';
    background: linear-gradient(83.82deg, #00ABE4 0%, #E9F1FA 92.02%);
}

/* .carousel-cartoon {
   
} */

.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter';
}

.carousel h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 60px;

    color: #0F0C29;

    mix-blend-mode: normal;

    padding: 40px 0px

}
.carousel span {
    width: 75%;
    max-width: 612px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}


/* ========================= STEPS AND CLICK TO REGISTER ========================= */


.container-register {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container-register h2 {
    /* STRUCTURE */
    padding: 30px 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

}

.container-register .slideshow {
    background-color: aliceblue;
    width: 80%;
    height: 500px;
}

.container-register h3 {
    padding: 30px 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;

}

.container-register button {
    width: 20%;


    background: linear-gradient(87.43deg, #00ABE4 62.71%, #96C2DB 100%);
    border-radius: 50px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;

    letter-spacing: 0.2px;
}


.number-otp {
    position: fixed;
    margin: auto auto;


    top: 25%;
    left: 23%;
    width: 60%;
    height: 400px;
    background-color: aqua;
    
    /* display: none; */
}
