* {
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

body {
    min-height: 11838px;
    background-color: black;
    width: 100%;
    font-size: 16px;
    z-index: 99;

}

/* ========================= NAVIGATION BAR ========================= */

/* Desktop Design */
nav {
    /* LAYOUT */
    display: flex;
    justify-content: center;

    /* STRUCTURE */
    position: sticky;
    top: 0;
    left: 0;
    
    background: #000000;
    border-bottom: 1px solid #98C1D9;
    color: white;
    width: 100%;
    height: 12vh;  
    z-index: 100;
}


nav .site-logo {
    /* LAYOUT */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* STRUCTURE */
    width: 20%;

}

.site-logo .logo {
    border: 3px solid #00ABE4;
    border-radius: 0px 0px 15px 0px;
    height: 50%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: #E9F1FA;
    
    
}

nav .link-div {
    width: 50%;
 
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.link-div ul {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-around;
  
    
}

.link-div ul li {
    list-style: none;
}

/* =============================================================================================================================================== */


/* ========================= CAROUSEL ========================= */

.container-carousel {
    /* Structure */
    height: 70vh;
    width: 95%;
    border-radius: 0px 0px 150px 0px;
    

    /* Layout */
    display: grid;
    grid-template-columns: 50% 50%;

    background: linear-gradient(83.82deg, #00ABE4 0%, #E9F1FA 92.02%);
    position: relative;
    top: 2vh;
    z-index: 98;
}




.sally {
    position: absolute;
    z-index: 2;
    width: 65%;

}

.circle1 {
    position: absolute;
    border: 2px solid violet;
    width: 50%;
    height: 70%;
    border-radius: 50%;
    background: rgba(5, 0, 255, 0.5);
    filter: blur(75px);
    top: 14%;
    z-index: 2;
}

.circle2 {
    position: absolute;
    top: 10%;
    left: 5%;
    border: 2px solid violet;
    width: 30%;
    height: 40%;
    border-radius: 50%;
    background: #78CEFF;
    filter: blur(50px);;

}

.carousel-cartoon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    max-height: 70vh;
   
    position: relative;

}






.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    color: #0F0C29;

    mix-blend-mode: normal;

    
}

.container-carousel h1 {
    width: 75%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;

    padding: 40px 0px

}
.container-carousel span {
    width: 75%;
    min-width: 200px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    
    }

    @media (max-width: 1024px) {
        * {
            font-size: 11px;
        }
        
    }

/* ========================= STEPS AND CLICK TO REGISTER ========================= */


.container-register {
    /* LAYOUT */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
 
    color: white;
}

.container-register h2 {
    /* STRUCTURE */
    margin: 9vh auto 4vh auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    color: #96C2DB;

}

.container-register .slideshow {
    background-color: aliceblue;
    width: 70%;
    height: 70vh;
}

.container-register h3 {
    padding: 6rem 0rem 2rem 0px;

    font-family: 'Poppins';
    font-weight: 550;
    font-size: 2.5rem;
  
}

.container-register button {
    color: white;
    height: 10vh;
    width: 20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    

    background: linear-gradient(87.43deg, #00ABE4 62.71%, #96C2DB 100%);
    border-radius: 50px;

    
}

/* ======================= FREQUENTLY ASKED QUESTIONS ======================= */

.faq-container {
    border: 2px solid blue;
    display: flex;
    
}

.faq-container h3 {
    /* STRUCTURE */

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #96C2DB;

}

.number-otp {
    position: fixed;
    border-radius: 30px;


    top: 25%;
    left: 23%;
    width: 50%;
    height: 400px;
    background-color: rgb(255, 255, 154);
    display: none;
    justify-content: center;
    align-items: center;
}



